body{
margin:0px;
font-family:"Trebuchet MS", Arial, Helvatica sans-serif;
font-size:12px;
line-height:140%;
color:#333;
letter-spacing:1px;
}
#sayfaUst{
background-image:url(images/bg_sayfaUst.png);
background-repeat:repeat-x;
}
#ust{
width:960px;
height:122px;
maergin-left:auto;
margin-right:auto;
}
#logo{
width:300px;
float:left;
padding-top:50px;
}
#menu{
float:right;
}
#gorsel{
width:960px;
padding-top:30px;
margin-left:auto;
margin-right:auto;
}
#icerik{
background-image:url(images/bg_icerik.png);
background-repeat:no-repeat;
width:864px;
margin-right:auto;
margin-left:auto;
padding:30px 50px 50px 50px;
margin-top:25px; 
}
#sayfaAlt{
background-image:url(images/bg_sayfaAlt.png);
background-repeat:repeat-x;
}
#footer{
width:960px;
margin-left:auto;
margin-right:auto;
height:175px;
color:#ccc;
font-size:11px;
}
#footer_sol{
width:500px;
padding-top:20px;
float:left;
}
#footer_sag{
width:270px;
height:150px;
padding-top:20px;
padding-left:30px;
padding-right:30px;
color:#fff;
float:right;
background-image:url(images/bg_iletisim.png);
background-repeat:no-repeat
}
#sayfaUst #icerik h1{
font-size:36px;
fond-weight:bold;
letter-spacing:0px;
}
a:link{
color:#fff;
text-decoration:none;
}
a:hover{
text-decoration:underline;
color:#fff;
}
a:visited{
color:#fff;
text-decoration:none;
}
a:active{
text-decoration:underline;
color#fff;
}
#sayfaUst #ust #menu ul{
list-style-type:none;
padding:0px;
margin:82px 0px 0px 0px;
}
#sayfaUst #ust #menu ul li{
float:left;
}
#sayfaUst #ust #menu ul li a{
text-decoration:none;
background-image:url(images/bg_menuPasif.png);
background-repeat:repeat-x;
color:#000;
display:block;
margin-left:1px;
padding-left:15px;
padding-right:15px;
letter-spacing:1px;
font-weight:bold;
line-height:40px;
}
#sayfaUst #ust #menu ul li a:hover{
text-decoration:none;
background-image:url(images/bg_aktifMenu.png);
}